<h1>All Tasks</h1>

<ul>
{{#each data}}
	<li>{{this.id}}     <a href="/entries/{{this.id}}">{{this.data}}</a>   {{this.date}}</li>
{{/each}}
</ul>

<h2>Create a new entry here</h2>
<form action='/entries' method="POST">
	<input type="text" placeholder="Message here" name="text">
	<input type="text" placeholder="Date here" name="date">
	<input type="submit">
</form>

<p></p>
<h2>Enter an ID from above to delete that entry from the list.</h2>

<form action='/deletefromentries' method="POST">
	<input type="text" placeholder="ID to be deleted here" name="id">
	<input type="submit" value="Delete Entry">
</form>